|Марка:
=' '+locals.manufacturer+'\n'
|Модель:
= ' ' + locals.model+'\n'
|Класс:
= ' ' + locals.class+'\n'
|Кубатура:
= ' ' + locals.volume+'\n'
|Цвет:
= ' ' + locals.color+'\n'
|Гос. номер:
= ' ' + locals.number+'\n'
|Рама/VIN:
= ' ****' + locals.vin+'\n'
|Пробег:
= ' ' + locals.run+'\n'
|Год выпуска:
= ' ' + locals.year+'\n'
|Место регистрации:
= ' ' + locals.regisprationPlace+'\n'
|Дата угона:
= ' ' + locals.dateS+'\n'
|Время угона:
= ' ' + locals.timeS+'\n'
|Район, откуда угнали:
= ' ' + locals.districtS+'\n'
|Место угона:
= ' ' + locals.placeS+'\n'
|Ссылка на фото:
= ' ' + locals.link+'\n'
|Комментарии:
= ' ' + locals.comments+'\n'
|Дата заполнения:
= ' ' + new Date()+'\n'
|ФИО:
= ' ' + locals.fio+'\n'
|Номер телефона:
= ' ' + locals.phoneNumber+'\n'
